.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.images {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.images:hover {
    transform: scale(1.1);
}

.outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#result-text.result-player-wins {
    color: green;
    font-weight: bold;
}

#result-text.result-computer-wins {
    color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #008CBA;
    color: white;
}

button:hover {
    background-color: #005f7f;
}
